<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content">
    <%= post.content %>
    <% post.images.each do |image| %>
      <%= image_tag image.link %>
    <% end %>
  </span>
  <span class="timestamp">
    <%= t(".posted") %> <%= time_ago_in_words post.created_at %> 
      <%= t(".ago") %>
  </span>
</li>
